<div class="flex pa1 justify-start nowrap orange">
  <img class="ba b--white logo" src="/assets/logo.png" alt="logo">
  <div class="flex flex-fixed pa1 black">
    <div class="fw7 mr1">Hacker News</div>
    <a [routerLink]="['/']" class="ml1 no-underline black">new</a>
    <div class="flex">
      <div class="ml1">|</div>
      <a [routerLink]="['/create']" class="ml1 no-underline black">submit</a>
    </div>
  </div>
</div>
