<div class="flex mt2 items-start">
  <div class="flex index justify-end">
    <span class="gray">{{index+1}}.</span>
    <div class="ml1 gray f11 upvote" (click)="upvote()">▲</div>
  </div>
  <div class="ml1">
    <a [href]="'//' + link.url" target="new" class="link">{{link.description}} <span class="f6 gray">({{link.url}})</span></a>
    <div class="f6 lh-copy gray">
      {{link.points}} points | {{link.pubDate | moment}}
    </div>
  </div>
</div>
