<form class="flex flex-column ph3 mt3" (ngSubmit)="createLink(clForm)" novalidate #clForm="ngForm">
    <input
      class="mb2" name="description" type="text" placeholder="A description for the link"
      ngModel required />
    <div *ngIf="clForm.controls.description?.errors?.required && clForm.controls.description?.touched" class="mb2 f6 dark-red">
        Description is required
      </div>
    <input
      class="mb2" name="url" type="text" placeholder="The URL for the link" ngModel required />
    <div *ngIf="clForm.controls.url?.errors?.required && clForm.controls.url?.touched" class="mb2 f6 dark-red">
        URL is required
      </div>
  <button class="w-10">Submit</button>
</form>
