<hn-link-item
  *ngFor="let link of links;let index=index"
  [link]="link"
  [index]="index + ((page - 1) * pageSize)">
</hn-link-item>
<div class="bb bw2 more">
  <a class="gray no-underline" [routerLink]="['/']" [queryParams]="{p: page + 1}">More</a>
</div>
